<!--
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Favorites List</th>
      </tr>
    </thead>


    <tbody>
      <div class="container" *ngFor="let item of questions ">
          <a [routerLink]="['/question', item]">Question ID: {{item}}</a>
      </div>
    </tbody>
  </table>
</div>

-->



<div class="container">
  <table style="width:70%">
    <tr>
      <th>Favorites List</th>
    </tr>
    <tr *ngFor="let item of questions">
      <td> <a [routerLink]="['/question', item]">Question ID: {{item}}</a></td>
    </tr>
  </table>
</div>