/*
table.table{
  width: 50%;
  margin-left:auto; 
  margin-right:auto;
  margin-top: 50px;
}

.table th{
  padding: 20px;
  color: #007bff;
  font-family: "Helvetica Neue";
}

.container{
  padding: 20px;
  border-bottom: 2px solid #dee2e6;
}
*/

table, th, td {
  padding: 20px;
  border: 2px solid #dee2e6;
  border-collapse: collapse;
  width: 50%;
  margin-left:auto; 
  margin-right:auto;
  margin-top: 50px;
}

th, td {
  padding: 15px;
  text-align: left;
}