<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Gre Test</a>
	</nav>
	<div ng-app="app" ng-controller="MainCtrl" class="list-group container">
		<section>
			<div><p ng-bind-html="result"></p></div>
		</section>
		<form name="myForm">
		    <div class="list-group-item">
		    	<h4 class="list-group-item-heading">{{messages.id}}. {{messages.question}}</h4>
		    	<div class="row">
		    		<div class="col-sm">
						<label class="row"><input type="radio" value="A" ng-model="answers.value1">A. {{messages.options[0].A}}</label>
						<label class="row"><input type="radio" value="B" ng-model="answers.value1">B. {{messages.options[1].B}}</label>
						<label class="row"><input type="radio" value="C" ng-model="answers.value1">C. {{messages.options[2].C}}</label>
					</div>
					<div class="col-sm">
						<label class="row"><input type="radio" value="D" ng-model="answers.value2">D. {{messages.options[3].D}}</label>
						<label class="row"><input type="radio" value="E" ng-model="answers.value2">E. {{messages.options[4].E}}</label>
						<label class="row"><input type="radio" value="F" ng-model="answers.value2">F. {{messages.options[5].F}}</label>
					</div>
				</div>
		    </div>
			<button type="submit" class="btn btn-success" ng-click="submit()">Submit</button>
		</form>

		<section>
			<br>
			<div><p ng-bind-html="solution"></p></div>
			<div><p ng-bind-html="nextone"></p></div>
		</section>
	</div>
	<script>
	var myApp = angular.module('app', []);

	myApp.controller('MainCtrl', function ($scope, $http, $sce) {
		$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
		// replace the following with your link to /one_question
        $http.get('http://127.0.0.1:5000/one_question')
        .then(function (response) {
			 	$scope.messages = response.data;
			},function (error){
			    console.log(error, 'can not get data.');
		});

      	$scope.submit = function() {
			// replace the following with your link to get_ans
			$http.get('http://127.0.0.1:5000/answer/' + $scope.messages.id)
	        .then(function (response) {
			 	$scope.references = response.data;
			 	if($scope.answers.value1 == $scope.references.answer1 && $scope.answers.value2 == $scope.references.answer2){
			 		// the answer is right
			 		console.log("correct answer");
			 		$scope.result =  $sce.trustAsHtml('<div class="alert alert-success" role="alert"> Correct Answer </div>');
			 	}else{
			 		//the answer is wrong 
			 		console.log("incorrect answer");
			 		$scope.result =  $sce.trustAsHtml('<div class="alert alert-danger" role="alert"> Incorrect Answer </div>');
			 		$scope.solution = $sce.trustAsHtml('<div> The correct answer is ' + $scope.references.answer1 + ' & ' + $scope.references.answer2 + '</div>');
			 	}
			 	// replace http://google.com with your link to this html
		 		$scope.nextone = $sce.trustAsHtml('<a href=http://127.0.0.1:8000/home.html class="btn btn-primary">Pick Random One</a>');
			},function (error){
				    
			});
      	};

	});
	</script>
</body>
</html>
