<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div ng-app="myApp" ng-controller="registerController">
		<form name="form" ng-submit="register()" role="form">
		    <div class="form-group">
		        <label for="username">Username</label>
		        <i class="fa fa-key"></i>
		        <input type="text" name="username" id="username" class="form-control" ng-model="loginForm.username" required />
		    </div>
		    <div class="form-group">
		        <label for="password">Password</label>
		        <i class="fa fa-lock"></i>
		        <input type="password" name="password" id="password" class="form-control" ng-model="loginForm.password" required />
		    </div>
		    <div class="form-group">
		        <label for="password">Please confirm your password</label>
		        <i class="fa fa-lock"></i>
		        <input type="password" name="confirmPassword" id="password" class="form-control" ng-model="loginForm.confirmPassword" required />
		    </div>
		    <div class="form-actions">
		        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-success" ng-click=register()>register</button>
		        <a href="login.html">Login</a>
		    </div>
		</form>

		<div>
			<p ng-bind-html="nextone"></p>
		</div>
	</div>

	<script>
	var myApp = angular.module('app', []);
	myApp.controller('registerController', ['$scope','$http', '$location', '$sce', 
		function ($scope, $http, $location, $sce) {
		$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
		$scope.register = function {
			$http.post('http://127.0.0.1:5000/register', 
			{
				'username' $scope.loginForm.username: ,
				'password': $scope.loginForm.password
			})	
			.then(function(response) {
				$location.path('/home.html');
				$scope.loginForm = {};
				$scope.html = 
				'<div>
					User created successfully, please <a href=http://127.0.0.1:8000/login.html>login in</a>
				</div>';
				$scope.nextone = $sce.trustAsHtml($scope.html);
			},
			function(error) {
				$scope.errorMessage = error.data;
				$scope.loginForm = {};
				$scope.html = 
				'<div>
					A user with that username already exists, please<a href=http://127.0.0.1:8000/register.html>try again</a>
				</div>'
				$scope.nextone = $sce.trustAsHtml($scope.html);
			});
		};
	}]);
	</script>
</body>
</html>