<div *ngIf="data$" class="container" id="one_question">
    <div *ngFor="let questionItem of data$.questions">
        <div class="question_body">
            <h4>{{ questionItem.id }}.{{ questionItem.question }}</h4>
            <li *ngFor="let option of questionItem.options">
                {{ option['A'] }}
                {{ option['B'] }}
                {{ option['C'] }}
                {{ option['D'] }}
                {{ option['E'] }}
                {{ option['F'] }}
            </li>
        </div>
        <hr>
    </div>
</div>