<div class="container">
  <h4> {{data.id}}. {{data.question}}</h4>
  <form #f="ngForm">
    <table style="width:95%">
      <tr>
        <td>
          <div *ngFor="let option of data.options | slice: 0:1">
            <input type="radio" name="group1" [value]="option.label" [(ngModel)]="data.usr_ans1">&nbsp;{{option.label}}. {{option.content}}
          </div>
        </td>
        <td>
          <div *ngFor="let option of data.options | slice: 3:4">
            <input type="radio" name="group2" [value]="option.label" [(ngModel)]="data.usr_ans2">&nbsp;{{option.label}}. {{option.content}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div *ngFor="let option of data.options | slice: 1:2">
            <input type="radio" name="group1" [value]="option.label" [(ngModel)]="data.usr_ans1">&nbsp;{{option.label}}. {{option.content}}
          </div>
        </td>
        <td>
          <div *ngFor="let option of data.options | slice: 4:5">
            <input type="radio" name="group2" [value]="option.label" [(ngModel)]="data.usr_ans2">&nbsp;{{option.label}}. {{option.content}}
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div *ngFor="let option of data.options | slice: 2:3">
            <input type="radio" name="group1" [value]="option.label" [(ngModel)]="data.usr_ans1">&nbsp;{{option.label}}. {{option.content}}
          </div>
        </td>
        <td>
          <div *ngFor="let option of data.options | slice: 5:6">
            <input type="radio" name="group2" [value]="option.label" [(ngModel)]="data.usr_ans2">&nbsp;{{option.label}}. {{option.content}}
          </div>
        </td>
      </tr>
    </table>

    <div>
      <button class="btn btn-primary" type="submit" (click)="onSubmit(data.id)"> Submit </button>
      <button class="btn btn-primary" type="submit" (click)="onSubscribe(data.id)"> Subscribe </button>
      <button class="btn btn-primary" type="submit" (click)="onUnSubscribe(data.id)"> Unsubscribe </button>
    </div>
  </form>
  <p>{{data.status}}</p>
  <p *ngIf="data.submitted && !checkAns()">Correct answer: {{data.ans['answer1']}} {{data.ans['answer2']}}</p>
</div>
