<ngb-accordion #acc="ngbAccordion" *ngFor="let note of allNotes let index=index">
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>{{ note.question.id }}</span>
      <span class='close' style='margin-left:20px' (click)='deleteNote(index, $event, note)'>&times;</span>
    </ng-template>
    
    <ng-template ngbPanelContent>
      <ngb-tabset>
        <ngb-tab title = "Question">
          <ng-template ngbTabContent>
            {{note.question.id}}. {{note.question.question}}
            <div class="container" *ngFor="let option of note.question.options">
              {{option.label}}. {{option.content}}
            </div>
            My Answer:
            <div class="container-fluid">{{note.question.usr_ans1}}, {{note.question.usr_ans2}}</div>
            Correct Answer:
            <div class="container-fluid">{{note.answer.answer1}}, {{note.answer.answer2}}</div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title = "Notes">
          <ng-template ngbTabContent>
            <div *ngIf="!editorEnabled">
              <div>{{note.notes}}</div>
              <button class="btn btn-primary" type="submit" (click)="editNote(index)">Edit</button>
            </div>
            
            <div *ngIf="editorEnabled">
              <input [(ngModel)]="note.notes">
              <button class="btn btn-primary" type="submit" (click)="saveEdit(index)">Save</button>
              or
              <button class="btn btn-primary" type="submit" (click)="cancelEdit(index)">Cancel</button>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
