.navbar-brand{
  font-weight: bold;
}

.nav-link{
  font-weight: bold;
  font-size: 1.25rem;
}

.navbar-light .navbar-brand {
  color: #007bff;
}

.navbar-light .navbar-nav .active>.nav-link{
  color: #007bff;
}
