<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">GreTest</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Questions</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href=".">Pick One</a>
            </li>
        </ul>
        <ul class="form-inline my-2 my-lg-0">
          <div class="dropdown" *ngIf="!auth.loggedIn">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span *ngIf="!auth.loggedIn">{{ auth.currentUserName.username }}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="fav_list" *ngIf="!auth.loggedIn" href="#">Favorites</a>
              <a class="dropdown-item" routerLink="myHistory" *ngIf="!auth.loggedIn" href="#">History</a>
              <a class="dropdown-item" *ngIf="!auth.loggedIn"
                routerLink="/" (click)="logout()" href="#">Logout</a>
            </div>
          </div>
          
<!--            <span *ngIf="!auth.loggedIn">{{ auth.currentUserName.username }}</span>&nbsp;&nbsp;-->
<!--
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button" *ngIf="!auth.loggedIn"
                    routerLink="/" (click)="logout()">Logout</button>
-->   
            &nbsp;&nbsp;
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button" routerLink="login" *ngIf="auth.loggedIn">Login</button>
            &nbsp;&nbsp;
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button" routerLink="register" *ngIf="auth.loggedIn">Register</button>
            &nbsp;&nbsp;
<!--
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button" routerLink="fav_list" *ngIf="!auth.loggedIn" >Favorites</button>
            &nbsp;&nbsp;
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button" routerLink="myHistory" *ngIf="!auth.loggedIn" >History</button>
-->
        </ul>
    </div>
</nav>