.nav-link{
  font-size: 1.25rem;
}

.navbar-light .navbar-brand {
  color: #007bff;
}

.navbar-light .navbar-nav .active>.nav-link{
  color: #007bff;
}

.nav-item active{
  margin: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
}