#login_form {
  float: none;
  margin: 100px auto 0px auto;
}

.card {
  padding: 20px;
}

.login_header {
  padding-bottom: 9px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eee;
  font-weight: normal;
  font-size: 32px;
  color: #00afff;
}

.pull-right {
  float: right !important;
}

.AccountPageFooter {
  margin: 25px 0 0;
  padding-top: 20px;
  border-top: 1px solid #eee;
  color: #999;
}
